@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Kode+Mono:wght@400..700&family=Oswald:wght@200..700&display=swap');



.msg {
    font-family: 'Eczar', serif;
    line-height: 1.5;
}

.shadowing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}


.shadowing {
    box-shadow: 0 37px -22px rgba(0, 0, 0, 0.1);
}



.inner-shadow {
    box-shadow: inset 0 17px 7px rgba(122, 100, 100, 0.2);
}

.scroll-effect.animate {
    opacity: 1;
    transform: translateY(0);
}

.max-w-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}